@model Plagiarism_Checker.Models.Teacher.TeacherTasks

@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="largeDarkDiv" style="flex-direction:column;">
    <h2>Домашні завдання:</h2>
    @foreach (var item in Model.SolvedHometasks)
    {
        <div style="width:80%;height:180px;margin-bottom:20px;border:solid;border-width:1px">
            <div style="background-color:#d8d8d8">
                <p style="color:#000000"> @item.NameOfDiscipline </p>
            </div>
            <p style="color:#d8d8d8; font-size:13px"> @item.TaskAssignment.Requirenments </p>
            <p style="color:#555454; font-size:10px; justify-content:flex-end;"> @item.Student - @item.Time </p>
            @if (item._Task.Percent > 10.0)
            {
                <p style="color:#d64747; font-size:11px; justify-content:flex-end; font-weight:900">@item._Task.Percent.ToString()</p>
            }
            else
            {
                <p style="color:#6b7b34; font-size:11px; justify-content:flex-end; font-weight:900">@item._Task.Percent.ToString()</p>
            }
            <div style="clear:both;"></div>
        </div>
    }
</div>

