@model Plagiarism_Checker.Models.AdminDTO.AllUsers
@{
    ViewData["Title"] = "UsersList";
}

<h2>Непідтверджені користувачі:</h2>
<table class="table-dark">
    <tr>
        <th> Ім'я Користувача</th>
        <th>        </th>
        <th>        </th>
    </tr>

    @foreach (var item in Model.unregisteredUsers)
    {
        <tr>
            <td>@item.name</td>
            <td> @Html.ActionLink("Видалити", "DeleteApplication", new { Id = item.id })</td>
            <td> @Html.ActionLink("Підтвердити", "ApproveApplication", new { Id = item.id })</td>
        </tr>
    }
</table>

@foreach (var i in Model.unregisteredUsers)
{
    <h4 style="float:left">@i.name</h4>
    <div style="margin-left:auto; margin-right:0">
        <button>Delete</button>
        <button>Approve</button>/
    </div>
    <div style="clear:both;"></div>
    <hr />
}


<form method="post" asp-controller="Admin" asp-action="DeleteUser">
    <h2>Teachers:</h2>
    @foreach (var i in Model.allTeachers)
    {
        <h4 style="float:left">@i.name</h4>
        <input type="hidden" value="@i.id" />
        <div style="margin-left:auto; margin-right:0">
            <input type="submit" value="Delete" />
        </div>
        <div style="clear:both;"></div>
        <hr />
    }
    <h2>Students:</h2>
    @foreach (var i in Model.allStudents)
    {
        <h4 style="float:left">@i.name</h4>
        <input type="hidden" value="@i.id" />
        <div style="margin-left:auto; margin-right:0">
            <input type="submit" value="Delete" />
        </div>
        <div style="clear:both;"></div>
        <hr />
    }

</form>
