@model Plagiarism_Checker.Models.AdminDTO.AllUsers
@{
    ViewData["Title"] = "UsersList";
}
<hr />

<h2>Непідтверджені користувачі:</h2>
<table class="table-dark">
    <tr>
        <th> Ім'я Користувача   </th>
        <th> Емейл  </th>
        <th> Код    </th>
        <th>        </th>
        <th>        </th>
    </tr>

    @foreach (var item in Model.unregisteredUsers)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.Email</td>
            <td>@item.Number</td>
            <td> @Html.ActionLink("Видалити", "DeleteApplication", new { Id = item.id })</td>
            <td> @Html.ActionLink("Підтвердити", "ApproveApplication", new { Id = item.id })</td>
        </tr>
    }
</table>




<hr />
<hr />
<hr />
<br />
<br />

<h2>Teachers:</h2>
<hr />
<div style="display:flex; flex-wrap: wrap;">
    @foreach (var i in Model.allTeachers)
    {<div style="display: grid;">
            <h4 >@i.name</h4>
            <a class="button2" style="justify-content: center;
    border: none;
    color: whitesmoke;
    background: #777373;
    margin: 0.3em;
    border-radius: inherit;" href="@Url.Action("DeleteUser","Admin", new { id = i.id })" onclick="return confirm('are you sure?');">Видалити</a>
            <div style="clear:both;"></div>
        </div>
    }
</div>
<br />

<hr />
<hr />
<hr />
<br />
<br />

<h2>Students:</h2>
<hr />
<div style="display:flex;  flex-wrap: wrap;">
    @foreach (var i in Model.allStudents)
    {
        <div style="display: grid;">
            <h4>@i.name</h4>
            <a class="button2" style="justify-content: center;
    border: none;
    color: whitesmoke;
    background: #777373;
    margin: 0.3em;
    border-radius: inherit;" href="@Url.Action("DeleteUser","Admin", new { id = i.id })" onclick="return confirm('are you sure?');">Видалити</a>
            <div style="clear:both;"></div>
        </div>
    }
</div>
